
.board {
    display: flex;
    background-color: black;
    position: relative;
    width: 80vw;
    margin: 4rem 8rem;
    height: 30vw;
    border: 5px solid black;
    border-radius: 60px;
  }
  
h1{
    display: flex;
    justify-content: center;
    font-size: 8rem;
    margin: 3rem 0rem 1rem 0rem ;
    text-decoration: solid green 5px;
}
  #box0 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 20px;;
    right:3px;
    bottom: 20px;
    margin-left: 54rem;
    border-radius: 60px;
  }
  
  #box1 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 3px;;
    right:3px;
    bottom: 20px;
    margin-left: 46rem;
    border-radius: 60px;
  }
  #box2 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 3px;;
    right:3px;
    bottom: 20px;
    margin-left: 37rem;
    border-radius: 60px;
  }
  #box3 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 3px;;
    right:3px;
    bottom: 20px;
    margin-left: 28rem;
    border-radius: 60px;
  }
  #box4 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 3px;;
    right:3px;
    bottom: 20px;
    margin-left: 19rem;
    border-radius: 60px;
  }
  #box5 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 4rem;
    left: 3px;;
    right:3px;
    bottom: 20px;
    margin-left: 10rem;
    border-radius: 60px;
  }
  #box6 {
    opacity: 0.8;
    height:25rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 1rem;
    left: 3px;;
    right:1rem;
    bottom: 1rem;
    margin-left: 1rem;
    border-radius: 60px;
    text-align: center;
    font-weight: bolder;
  }

  #box7 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 10rem;
    border-radius: 60px;
  }

  #box8 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 19rem;
    border-radius: 60px;
  }
  #box9 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 28rem;
    border-radius: 60px;
  }
  #box10 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 37rem;
    border-radius: 60px;
  }
  #box11 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 46rem;
    border-radius: 60px;
  }
  #box12 {
    opacity: 0.8;
    height:8rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 15rem;
    left: 0px;;
    right:3px;
    bottom: 20px;
    margin-left: 55rem;
    border-radius: 60px;
  }
  #box13 {
    opacity: 0.8;
    height:25rem;
    width: 8rem;
    background-color:green;
    border: 3px solid darkgreen;
    position: absolute;
    top: 1rem;
    left: 0px;;
    right:3px;
    bottom: 1rem;
    margin-left: 64rem;
    border-radius: 60px;
    text-align: center;
    font-weight:bolder ;
  }

.box{
  color: white;
}

  .rowone {
      background-color: red;
    left: 0;
  }
  
  .rowtwo {
    background-color: orange;
    left: 150px;
  }